<!--导航的布局-->
<!--<p>layout works!</p>-->
<nz-layout>
  <nz-header>
    <button nz-button nzType="primary" (click)="toggleCollapsed()">
      <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </button>
  </nz-header>
  <div class="layout">
    <div class="nz-sider" [style.width]="isCollapsed ? '80px' : '200px'">

      <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
        <app-sider-menu [menus]="siderData" [isCollapsed]="isCollapsed">
        </app-sider-menu>
      </ul>
    </div>
    <div class="nz-content">
      <nz-card>
        <nz-breadcrumb class="breadcrumb-bar" [nzAutoGenerate]="true" [nzRouteLabel]="'breadcrumb'"></nz-breadcrumb>
      </nz-card>
      <router-outlet></router-outlet>
    </div>
  </div>
</nz-layout>
<!--<nz-footer>footer</nz-footer>-->
